# *Data Science Tools and Ecosystem*

*In this notebook, Data Science Tool and Ecosystem are summarizer*

## Data science languages:

+ Python
+ R
+ SQL
+ C++
+ JAVA

## Data science libraries:

+ Pandas
+ NumbPY
+ SciPy
+ Matplotlib

##  Table of Data Science tools:

|Data Science Tools|
|-------|
|R and Rstudio|
|Zeppelin|
|Jupeyter Notebooks|

## Arithmetic expression examples. 


|Expression|Example|
|----|----|
|+|3+2=5|
|-|3-2=1|
|/|5/2=2.5|
|//|5/2=2
|%|5%=1|
|* |5* 2=10|
|** |2** 2=4|

In [10]:

def sum():
    n1=int(input("number1: "))
    n2=int(input("number2: "))
    print(n1+n2)
   
def mul():
    n1=int(input("number1: "))
    n2=int(input("number2: "))
    print(n1*n2)
    
def convert_min_to_hour(min):
    min/=60
    print(f"{round(min,3)} Hours")

In [7]:

sum()

number1: 5
number2: 6
11

In [8]:

mul()

number1: 5
number2: 5
25

In [9]:

convert_min_to_hour(200)

3.333 Hours

## Objectives:

+ Add comments to code cells
+ Create markdown cells
+ Add ordered and uncreder lists to markdown
+ Format content of markdown cells whit heading styles

#### ***the Authorâ€™s name: Gondikas Mateo***